<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <aside class="footer-widget">
          <address>
            <div class="row mt-3">
              <div class="col-6">
                <h2>Pymes</h2>
                <p><strong>Correo: </strong> <a href="mailto:pymespruebas@hotmail.com">pymespruebas@hotmail.com</a></p>
                <p><strong>Celular: </strong> <a href="tel:+573176543210">+57 317 654 3210</a></p>
              </div>
            </div>
          </address>
        </aside>
      </div>
    </div>
  </div>
</footer>
<style>
.main-footer{

    background-color:#212529;
    color:white;

}
</style>